.div-main{
  display: flex;
  flex-direction: column;
}

.div-data{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-atributes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table{
  margin-left: 5vH;
  margin-right: 5vH;
}
.text-detail{
  padding-right: 15px;
}

.text-stats{

}
