<div class="div-main">
  <div class="div-data">

    <div class="pokemon-data">
      <table class="table table-borderless">
        <tr>
          <td class="text-right font-weight-bold">ID</td>
          <td>#{{pokemonDetails.id}}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Height</td>
          <td style="white-space: nowrap;">{{heightInMetres + "m ( " + heightInFeetInches + " )"}}</td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold">Weight</td>
          <td style="white-space: nowrap;">{{weightInKgs + "kg ( " + weightInPounds + "lbs. )"}}</td>
        </tr>
      </table>
    </div>

    <img [src]="pokemonDetails.sprites.other['official-artwork'].front_default" alt="Image Pokemon">

    <div class="pokemon-atributes">
      <table class="table table-borderless">
        <tr>
          <td></td>
          <td>
            <button class="btn rounded-pill font-weight-bold" (click)="showStats('base')" [ngClass]="selectedStat=='base' ? getColor(pokemonDetails.types[0].type.name) : null">Base
            </button>
          </td>
          <td>
            <button class="btn rounded-pill font-weight-bold" (click)="showStats('min')" [ngClass]="selectedStat=='min' ? getColor(pokemonDetails.types[0].type.name) : null">Min
            </button>
          </td>
          <td>
            <button class="btn rounded-pill font-weight-bold" (click)="showStats('max')" [ngClass]="selectedStat=='max' ? getColor(pokemonDetails.types[0].type.name) : null">Max
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">HP</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[0]}">
                <span>{{statsToShow[0]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Attack</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[1]}">
                <span>{{statsToShow[1]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Defence</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[2]}">
                <span>{{statsToShow[2]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Attack</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[3]}">
                <span>{{statsToShow[3]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Defence</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[4]}">
                <span>{{statsToShow[4]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Speed</td>
          <td colspan="3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="255" [ngClass]="getColor(pokemonDetails.types[0].type.name)" [ngStyle]="{'width': stats[5]}">
                <span>{{statsToShow[5]}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" style="white-space:nowrap;">Total</td>
          <td colspan="3">
            {{totalBaseStats()}}
          </td>
        </tr>
      </table>
    </div>
  </div>


</div>
