h2{
    color: white;
}


.card {
    width: 300px;
    height: 500px;
    border: 8px solid #ddd;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: visible;
}

.div-image{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.div-types{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
    padding: 5px;
    border-radius: 10%;
    
}

.card-image {
    margin: 20px;
    width: 100%;
    max-height: 250px;
    max-width: 270px;
    object-fit: fill;
    transform-origin: center;
    transition: transform 0.5s ease;
    float: right;
    height: auto;

    /* filter: brightness(.0); */
}

.card:hover .card-image {
    transform: scale(1.4);
}