.container {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 89vh;
    background-image: URL('https://cdn.wallpapersafari.com/60/82/3UicNR.jpg');
}

.main{
    display: flex;
    flex-direction: column;
}